folders.csx
refreshAssetlist.csx

# Prolong my lifespan
options/extensions/Steamworks.json
datafiles/*
extensions/fmod_gms/fmod-gamemaker.dll
sprites/*/*.png
sprites/*/*/*/*.png
!options/main/template_icon.png
!github/*
!datafiles/licenses/Gameframe_License.txt

# The manually fixed tilesets
!sprites/tile_beachprops1/**
!sprites/tile_beachprops2/**
!sprites/tile_chateaudecorations/**
!sprites/tile_forestprops/**
!sprites/tile_freezerfridge/**
!sprites/tile_spaceprops2/**
!sprites/spr_beachcaverntiles/**
!sprites/spr_collisiontiles/**
!sprites/spr_farmceillingtiles/**
!sprites/spr_farmdecotiles/**
!sprites/spr_forestprops2/**
!sprites/spr_graveyarddeco/**
!sprites/spr_industrialcomplextiles/**
!sprites/spr_mansion2tiles/**
!sprites/spr_medievaldeco2/**
!sprites/spr_peppermanbosstiles/**
!sprites/tile_plains_sprite/**
!sprites/spr_planettiles/**
!sprites/spr_saloonalttiles/**
!sprites/spr_saloonwoodentiles/**
!sprites/spr_sewergraffiti/**
!sprites/spr_shiptiles/**
!sprites/spr_space1tiles/**
!sprites/spr_towerdeserttiles/**
!sprites/spr_towerfloor3tiles/**
!sprites/tile_towerfloor4tiles/**
!sprites/spr_towerfloor5tiles/**
!sprites/spr_tutorialtiles/**
!sprites/spr_waroutsidetiles/**
!sprites/spr_streettiles/**

# Weird exceptions
!sprites/spr_desertdeco/**
!sprites/tile_cavern/**
!sprites/tile_dungeon/**
!sprites/tile_dungeon3/**
!sprites/spr_ruincheese/**
!sprites/spr_ruinend/**
*.resource_order
